<br>
<div class="card mx-auto border border-dark .bg-light" style="width: 550px;">
  <br>
  <img src="<%= "/cats/#{@cat.image}" %>" class="mx-auto" width="450" height="450">
  <div class="card-body mx-auto">
    <h4 class="card-title"><%= @cat.name %></h4>
    <p class="card-text">
      <label>名前: </label>
        <%= @cat.name %>
      <br>
      <label>誕生日: </label>
        <%= @cat.birth_date %>
      <br>
      <label>性別: </label>
        <%= @cat.gender %>
      <br>
      <label>品種: </label> 
        <%= @breed.name %>
      <br>
      <label>お店: </label> 
        <%= @cafe.name %>
      <br>
    </p>
    <a href="<%= "#{@cafe.homepage}" %>" class="btn btn-primary" target="_blank">お店のHPを見る</a>
  </div>
